<div id="<%= dom_id container %>">
  <p>
    <strong>Name:</strong>
    <%= container.name %>
  </p>

  <p>
    <strong>Addon json:</strong>
    <%= container.addon_json %>
  </p>

  <p>
    <strong>Usage limit json:</strong>
    <%= container.usage_limit_json %>
  </p>

  <p>
    <strong>Container:</strong>
    <%= container.container_id %>
  </p>

  <p>
    <strong>Open ports:</strong>
    <%= container.open_ports %>
  </p>

  <p>
    <strong>Os name:</strong>
    <%= container.os_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= container.status %>
  </p>

  <p>
    <strong>Last used:</strong>
    <%= container.last_used %>
  </p>

  <p>
    <strong>Storag used:</strong>
    <%= container.storag_used %>
  </p>

</div>
